@import url("https://fonts.googleapis.com/css2?family=Chathura&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Chathura", sans-serif;
}

// body:hover .container {
//   clip-path: polygon(15% 15%, 85% 15%, 85% 85%, 15% 85%);
// }

.container {
  height: 100vh;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition: clip-path 1s;
  width: 100%;

  .img {
    background: url("../bg.jpg");
    background-size: cover;
    height: 100vh;
  }
  .content {
    position: absolute;
    z-index: 1;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;

    h1 {
      font-size: 4rem;
      position: absolute;
    }
  }
}
